version: 2
jobs:
  build:
    filters:
      branches:
        only:
          - master
    docker:
      - image: rocker/verse:latest
    steps:
      - restore_cache:
          keys:
            - cache
      - checkout
      - run:
          name: Install package dependencies
          command: |
            R -e 'install.packages("remotes")'
            R -e 'remotes::install_deps(dependencies = TRUE)'
      - run:
          name: Session information and installed package versions
          command: |
            Rscript -e 'sessionInfo()'
            Rscript -e 'installed.packages()[, c("Package", "Version")]'
            Rscript -e 'rmarkdown::pandoc_version()'
      - run:
          name: Build package
          command: R CMD build .
      - run:
          name: Check package
          command: R CMD check *tar.gz
      - store_artifacts:
          path: ci4r.Rcheck/
      - save_cache:
          key: cache
          paths:
            - "/usr/local/lib/R/site-library"
